<a
    class="bg-white border rounded-md m-4 p-4 inline-flex shadow-none hover:shadow-xl shadow-yellow-200 cursor-pointer flex-col">
    <img src="https://placehold.jp/80x80.png" height="80px" class="border rounded-full ring-4 ring-yellow-400">
    <p class="subtitle font-semibold text-blue-950 text-center mb-1 mt-3">
        <span class="name"></span>
    </p>
    <p class="text-orange-700 text-center mb-2">
        <span class="phone"></span>
    </p>
    <div>
        <span class="bg-blue-700 text-white active:ring-1 text-center py-2 px-4 rounded-md">Call</span>
        <span class="bg-blue-700 text-white active:ring-1 text-center py-2 px-4 rounded-md">Mail</span>
    </div>
</a>